<mat-card>

  <mat-toolbar color="primary">Detalhes dos Curso</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form">
      <!--Campo nome-->
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" formControlName="name">
        </mat-form-field>

        <!--Campo Categoria-->
        <mat-form-field class="full-width">
          <input matInput placeholder="Categoria" formControlName="category">
        </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
